/*-------\/-\/-\/------- Global -------\/-\/-\/-------*/
body {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    min-width: 200px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 3em;
    text-shadow: 1px 1px 1px #000000;
  }

  .footer-button {
    size: 2em;
  }

  .imgc {
    max-height: 240px;
  }

  .fab {
    font-size: 2em;
    color: white;
  }

  /* -----/\-/\-/\----End of Global -----/\-/\-/\--------- */


  /*-------------- Nav Styles --------------*/
  .navbar  {
    background: transparent;
    transition: all .25s ease-out;
    border: 0;
  }
  
  .navbar-brand img {
    max-width: 100px;
    margin-top: -40px;
  }
  
  /* .hashtag {
    display: block;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 14px;
  } */
  
  .navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.4);
    transition: all .35s ease-in-out;
    font-size: 6px;
  }
  
  .navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 0.4);
    transition: all .35s ease-in-out;
    font-size: 14px;
  }
  
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar {
    color: #ffffff;
  }
  
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #ffffff;
    font-size: 14px;
  }
  
  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background: transparent;
    color: #ffffff;
  }
  
  
  .navbar-collapse {
    border: 0;
  }
  
  .navbar-toggle {
    border: 0;
  }
  
  /*----------------- End of nav styles -----------------*/
  
  /*--------------------- Main Section ---------------------*/
  .quote {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    color: #ffffff;
  }


  /*------------------Modal ----------*/
  #myBtn {
    width: 20em;
    height: 2em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    transition: all 0.4s;
    /* transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }
  
  .modal-body {
    padding: 2px 16px;
    background-color: rgba(0,0,0,0.4)
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #000;
  }

  /*------------------End Modal Content  ---------*/
  
  .social {
    margin-top: 15px;
  }

  .hero {
    background-image: url('../img/explore.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .s1 {
    background-image: linear-gradient(rgba(90, 83, 83, 0.466),rgba(110, 98, 98, 0.534)), url('../img/dev.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }


  .s2 {
    background-image: url('../img/building.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .section-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 125vh;
    color: #ffffff;
  }

  .projects{
    height: 100px;
    width: 100px;
    background-color:rgba(255, 255, 255, 0.4);
    border-radius: 2px;

  }

 .project-btn {
    color: #ffffff;
    width: 8em;
    height: 3em;
    background-color: rgba(92, 38, 240, 0.418);
    border-radius: 5px;
    margin-top:;
 }

 .copyright {
   font-size: -1em;
 }
  
  /*--------------------- End Main Section ---------------------*/
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


  
  /* Small Screens */
  @media only screen and (min-width : 768px) {
    .hashtag {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  
  /* Medium Screens */
  @media only screen and (min-width : 992px) {
  }
  
  /* Large Screens */
  @media only screen and (min-width : 1200px) {
  }
/*----------- Modal -----------*/
  @-webkit-keyframes animatetop {
    from {right:-30%; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {right:-30%; opacity:0}
    to {top:0; opacity:1}
  }


  /* -------------SCROLL BAR -------------- */
  
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(42, 168, 69, 0.616); 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(92, 38, 240, 0.4); 
  }