/* Global Styles */
body {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 3em;
    text-shadow: 1px 1px 1px #000000;
  }
  
  /* Nav Styles */
  .navbar  {
    background: transparent;
    transition: all .25s ease-out;
    border: 0;
  }
  
  .navbar-brand img {
    max-width: 100px;
  }
  
  .hashtag {
    display: block;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 14px;
  }
  
  .navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.4);
    transition: all .35s ease-in-out;
    font-size: 6px;
  }
  
  .navbar-default .navbar-nav > li > a:hover {
    color: rgba(255, 255, 255, 0.4);
    transition: all .35s ease-in-out;
    font-size: 14px;
  }
  
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar {
    color: #ffffff;
  }
  
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    background: transparent;
    color: #ffffff;
    font-size: 14px;
  }
  
  .navbar-default .navbar-toggle,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background: transparent;
    color: #ffffff;
  }
  
  
  .navbar-collapse {
    border: 0;
  }
  
  .navbar-toggle {
    border: 0;
  }
  
  /* End of nav styles */
  
  /* Main Section */
  .quote {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    color: #ffffff;
  }
  
  .hero {
    background-image: url('../img/explore.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .s1 {
    background-image: url('../img/dev.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /**************** POP OUT *********************/

  .s2 {
    background-image: url('../img/building.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .section-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 125vh;
    color: #ffffff;
  }

  .projects{
    height: 100px;
    width: 100px;
    background-color:rgba(255, 255, 255, 0.4);
    border-radius: 2px;

  }

 .project-btn {
    color: #ffffff;
    width: 8em;
    height: 3em;
    background-color: rgba(92, 38, 240, 0.418);
    border-radius: 2px;
 }
  
  /* End Main Section */
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


  
  /* Small Screens */
  @media only screen and (min-width : 768px) {
    .hashtag {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  
  /* Medium Screens */
  @media only screen and (min-width : 992px) {
  }
  
  /* Large Screens */
  @media only screen and (min-width : 1200px) {
  }
  